{% extends 'base.html' %}

{% block content %}
<h1>{{ header }}</h1>
<ul class="list-articles">
    {% for p in posts %}
    <li>
        <div class="article-panel">
            <p class="first">Category: {{p.cat}}</p>
            <p class="last">date: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>
        {% if p.photo %}
        <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
        {% endif %}
        <h2>{{p.title}}</h2>
        {% autoescape on %}
        {{p.content|linebreaks|truncatewords:50}}
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{% url 'cars:post' p.slug %}">Read the post</a></p>
        {% comment %}
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read the post</a></p>
        {% endcomment %}
    </li>
    {% endfor %}
    {% include 'cars/paginator.html' %}
</ul>
{% endblock %}