{% load static %}
{% load cars_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="{% static 'img/main.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr>
            <td valign=top>
                {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo"><a href="{% url 'cars:index' %}">
                                <div class="logo"></div>
                            </a></li>
                        {% for m in menu %}
                        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                        <li class="last">{{user.username}} | <a href="{% url 'cars:logout' %}">logout</a></li>
                        {% else %}
                        <li class="last"><a href="{% url 'cars:register' %}">Sign in</a> | <a
                                href="{% url 'cars:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% endblock mainmenu %}
                <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- Sidebar слева -->
                        <td valign="top" class="left-chapters">
                            {% get_categories as categories%}
                            <ul id="leftchapters">
                                {% if cat_selected == 0 %}
                                <li class="selected">All categories of cars</li>
                                {% else %}
                                <li><a href="{% url 'cars:index' %}">All categories of cars</a></li>
                                {% endif %}
                                {% for c in categories %}
                                {% if c.id == cat_selected %}
                                <li class="selected">{{c.name}}</li>
                                {% else %}
                                <li><a href="{% url 'cars:category' c.slug %}">{{c.name}}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li class="share">
                                    <p>3P Channel</p>
                                    <a class="share-yt" href="https://www.youtube.com/@tvzrru/" target="_blank"
                                        rel="nofollow"></a>
                                </li>
                            </ul>
                        </td>
                        <td valign="top" class="content">
                            <!-- Хлебные крошки -->
                            {% block breadcrumbs %}
                            {% endblock %}
                            <div class="content-text">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <td valign=top>
                <div id="footer">
                    <p>&copy; 2022 All rights reserved. Authtor Dmirty Parkhomenko.</p>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>